<?xml version="1.0" encoding="UTF-8"?>

<!-- 1. Name space of spring
	 2. I am using a setter injection in this xml
	 This configure file will create a ready to use object so that we
	 can use it. This is known as dependency injection.
	 Now we are gonna insitiate this cointainer in aap.java file.-->
	 
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.springcore.Student" name="student1">
	 <property name="studentId">
		 <value>12345</value>
	 </property>
	 <property name="studentName">
		 <value>sushanta nandy</value>
	 </property>
	 <property name="studentAdress">
		 <value>Banglore</value>
	 </property>
	 
 </bean>
 
</beans>